/* ====================================================================
Title: Team Raiser stylesheet
Author: Mitch Dunaway
Creator: Blackbaud
Description: Entertainment Industry Foundation - Stand Up 2 Cancer
======================================================================= */

/* Color Scheme
S color: #231f20;
U color: #ef4035;
2 color: #f78f1e;
C color: #ffc423;
*/

                                                                       
/* Overrides
-----------------------------------------------------------------------*/

#donate_direct_link_container,
#entry_page_reg_team_type_container,
#content .section-sub-header.empty,
#content .part-type-name-value-separator,
#content .part-type-fee-text,
#content span.part-type-amount.option-amount,
#content div.reg-summary-total,
#content div.label-value-block-container.clearfix {
	display: none;
}

#content div.tr-page-container div.header-container,
#content .section-container .section-header,
 {
	background: none;
}

#content .section-container,
#content .tr-page-container,
#content .section-footer,
#content .TrAchievementBadgeLarge,
#content .indicator-container {
	border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#content div.tr-page-container div.side-bar {
    width: 30%;
    padding-left: 20px;
}

#content div.tr-page-container div.main-content, 
#content div.tr-page-container div.tr-page-main-content {
    width: 70%;
    padding-top: 10px;
    margin: 0;
}

div.tr-page-container div.main-content {
	width: 720px;
}

#entry div.entry-option-info-container + div.entry-option-info-container {
	margin-top: 0;
}

div.tr-page-container #entry_page_custom_html,
#content div.TrAchievementBadgeLarge {
    padding: 0;
}

#content #personal_page_menu {
    margin: 0;
}

.yui-panel-container {
    left: 255px !important;
    top: 250px !important;
}



/* Headings 
-----------------------------------------------------------------------*/
h2.tr-page-title
.tr-page-header h2,
#content .header-container .campaign-banner-container {
    padding: 0px 0 20px 35px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: auto;
    text-transform: none;
    color: #000;
    border-bottom: 4px solid #cbcbcb;
    background: url(../images/h2_tr_arrow.png) no-repeat 0 0;
    display: block;
}

#content h2.tr-page-title,
#content h2.cstmTitle {
   padding: 0;
   color: #000;
}

#content .header-container .campaign-banner-container {
    color: #000;
    font-size: 20px;
    font-family: 'texgyreadventor', "Avant Garde", Avantgarde, sans-serif;
    letter-spacing: -.02em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

#content .section-header-text {
    font-size: .8em;
}

#content .header-container,
#content .section-header,
#content .tr-page-header {
    border: none;
    background: none;
    padding: 0;
}

h3 {
    background: none;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
}

#content div.registration-page-container div.section-sub-header {
    background: none;
    border: none;
    color: #231f20;
}

/* Sidebar
-----------------------------------------------------------------------*/
#content .s120-social-share,
#content .tr-status-indicator-container {
    border: 1px solid #cdcdcd;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
    background-clip: padding-box;
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 100%);
    margin: 15px 0 0;
}

#content .tr-status-indicator-container {
    padding: 15px;
    text-align: left;
}

.s120-social-share {
    margin: 15px 0;
    padding: 7px 0;
    text-align: center;
}

div.indicator-title,
#content .side-bar .secondary-step,
#content .tr-status-indicator-container > a,
#content .tr-status-indicator-container > a:active,
#content .tr-status-indicator-container > a:link,
#content .tr-status-indicator-container > a:visited,
#content .tr-status-indicator-container > div:first-child > div:first-child {
    color: #444;
    text-transform: uppercase;
    background: url(../images/indicator_title_arrow.png) no-repeat 0 4px;
    padding: 0 0 0 25px;
    font-size: 14px;
    margin: 0;
    border: none;
    font-weight: bold;
    text-align: left;
}


#search_participant .search-link.search-part-link img,
#search_team .search-link.search-team-link img,
#content #find_participant button.search-button {
    background: url(../images/icon_search_button.png) no-repeat 0 0;
    padding-top: 31px;
    width: 37px;
    height: 31px;
}

/* Sharing Modal Window
-----------------------------------------------------------------------*/

.shareImagePreviewContainer {
    margin: 5px 0;
}

/* Registration Buttons
-----------------------------------------------------------------------*/

#registration_button_wrapper > div {
    height: 200px;
    padding: 10px;
    border: 1px solid #EAEAEA;
    margin: 0 0 10px;
}

.registration_button {
    height: 174px;
    width: 259px;
    margin: 0 10px 10px 0;
    float: left;
}

#form_team_container .img-replace {
    background: url(../images/btn_tr-entry_form-team.gif) no-repeat 0 0;
}

#register_ind_container .img-replace {
    background: url(../images/btn_tr-entry_register-ind.gif) no-repeat 0 0;
}

#join_team_container .img-replace {
    background: url(../images/btn_tr-entry_register-text.gif) no-repeat 0 0;
}



/* Registration
-----------------------------------------------------------------------*/
#content div.progress-bar-step-current div.progress-bar-step-number-container {
	background: #ffc423;
}

#content div.responsive a.next-step,
#content div.responsive button.next-step,
#content div.responsive button.step-button.action-button,
#content #team_find_search_results_container div.list-component-cell-column-join-link a {
    border: none;
    background: #ea292c;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhMjkyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMDc4N2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ea292c 0%, #f0787c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea292c), color-stop(100%,#f0787c));
    background: -webkit-linear-gradient(top,  #ea292c 0%,#f0787c 100%);
    background: -o-linear-gradient(top,  #ea292c 0%,#f0787c 100%);
    background: -ms-linear-gradient(top,  #ea292c 0%,#f0787c 100%);
    background: linear-gradient(to bottom,  #ea292c 0%,#f0787c 100%);


    color: #FFF;
    font-family: 'texgyreadventor', "Avant Garde", Avantgarde, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

#content div.responsive a.next-step:hover,
#content div.responsive button.next-step:hover,
#content div.responsive button.step-button.action-button,
#content #team_find_search_results_container div.list-component-cell-column-join-link a:hover  {
    background: #f0787c;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwNzg3YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYTI5MmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f0787c 0%, #ea292c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0787c), color-stop(100%,#ea292c));
    background: -webkit-linear-gradient(top,  #f0787c 0%,#ea292c 100%);
    background: -o-linear-gradient(top,  #f0787c 0%,#ea292c 100%);
    background: -ms-linear-gradient(top,  #f0787c 0%,#ea292c 100%);
    background: linear-gradient(to bottom,  #f0787c 0%,#ea292c 100%);


    text-decoration: none;
}

#content div.responsive a.next-step:active,
#content div.responsive button.next-step:active,
#content div.responsive button.action-button:active {
    background: #f78f1e;
    border-color: #f78f1e;
}

#content div.responsive button.next-step[disabled="disabled"] {
    background-color: #ebebeb;
    border: 1px solid #e2e2e2;
    background: #efefef;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #efefef 0%, #e6e6e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#e6e6e6));
    background: -webkit-linear-gradient(top,  #efefef 0%,#e6e6e6 100%);
    background: -o-linear-gradient(top,  #efefef 0%,#e6e6e6 100%);
    background: -ms-linear-gradient(top,  #efefef 0%,#e6e6e6 100%);
    background: linear-gradient(to bottom,  #efefef 0%,#e6e6e6 100%);


    color: #FFF;
    font-family: 'texgyreadventor', "Avant Garde", Avantgarde, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

#content div.part-type-container.selected {
    border-color: #ffc423;
}

div#user_type_login_container {
    border: none;
    padding: 20px;
}

#content .detail-show-link img,
#content .detail-hide-link img {
    display: none;
}

#content .detail-show-link {
    background: url(../images/arrow-right-orange.png) no-repeat 0 3px;
    padding-left: 15px; 
}

#content .detail-hide-link  {
    background: url(../images/arrow-down-orange.png) no-repeat 0 3px;
    padding-left: 15px;
}

#content div.responsive button.cancel-step {
    color: #f78f1e;
}

#fr_thanks_page > div.section-container > div {
    display: none;
}

#fr_thanks_page > div.section-container > div.section-footer.clearfix {
    display: block;
}

/* Responsiveness
-----------------------------------------------------------------------*/

@viewport{
    width: extend-to-zoom;
    zoom: 1.0;    
}



@media only screen and (max-width: 991px) {

    #content div.tr-page-container div.side-bar {
        width: 40%;;
    }

    #content div.tr-page-container div.main-content,
    #content div.tr-page-container div.tr-page-main-content {
        width: 60%;
    }

    .mobile div#user_type_login_container {
        border: none;
        padding: 20px;
    }

    .yui-panel-container {
        left: 0 !important;
        top: 250px !important;
        width: 100% !important;
    }

    .yui-panel {
        width: 100% !important;
    }


}

@media only screen and (max-width: 767px) {

    #content div.tr-page-container div.side-bar {
        width: 100%;
    }

    #content div.tr-page-container div.main-content,
    #content div.tr-page-container div.tr-page-main-content {
        width: 100%;
        padding: 10px 0;
    }

    .mobile div#user_type_login_container {
        border: none;
        padding: 20px;
    }

    #content div#find_participant div.list-component-body div.list-component-cell.list-component-cell-column-team-name, 
    #content div#find_participant div.list-component-body div.list-component-cell.list-component-cell-column-company-name,
    #content div#find_participant div.list-component-body div.list-component-cell.list-component-cell-column-captain-name, 
    #content div#find_participant div.list-component-body div.list-component-cell.list-component-cell-column-tr-name, 
    #content div#find_participant div.list-component-body div.list-component-cell.list-component-cell-column-date {
        width: auto;
    }

    .mobile #content .campaign-banner-container {
        display: block;
    }

    #registration_button_wrapper > div {
        height: auto;
        background: #FFAC53;
        -webkit-border-radius: 3px;
        border-radius: 3px; 
    }

    .mobile #content #registration_button_wrapper p {
        white-space: normal;
    }

    .mobile #content .registration_button {
        height: auto;
        width: 100%;
        margin: 0 10px 10px 0;
        text-indent: 0;
        border: 1px solid #cdcdcd;
        -webkit-border-radius: 3px;
        border-radius: 3px; 
        padding: .5em;
        text-align: center !important;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'texgyreadventor', "Avant Garde", Avantgarde, sans-serif;

        background-clip: padding-box;
        background: #ffffff;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3));
        background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
        background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
        background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
        background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 100%);
    }

}

@media only screen and (max-width: 479px) {

    .mobile div#user_type_login_container {
        border: none;
        padding: 20px;
    }

    div.yui-panel-container {
        top: 200px !important;
    }

    
}












